<span ng-show="parent != null">Válasz erre:</span>
<div class="row" ng-show="parent != null">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img"><img ng-src="images/authors/{{post.authorImage}}.jpg" style="width:100px;height:100px" class="img-circle"></a>
        <i class="glyphicon glyphicon-user"></i> {{post.author}}<br/>
        #{{post.id}}
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row">
            <div class="col-xs-11">
                <div class="row">
                    <p class="pull-left"><i class="glyphicon glyphicon-calendar"></i> {{post.date| date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                    <p class="pull-right" ng-if="post.parentId">
                        Erre válaszként: #{{post.parentId}} {{post.parentAuthor}}
                    </p>
                </div>
                <hr/>
                <div class="row thepost">
                    <div ng-bind-html="post.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="postseparator" ng-show="parent != null"/>

<form role="form" name="postForm" ng-submit="submit()">

    <div id="editorcontainer">
        <div class="form-group">
            <label for="authorInput">Szerző:</label>
            <input id="authorInput" type="text" class="form-control" placeholder="Szerző?" ng-model="author" 
                   required
                   ng-minlength="2" 
                   ng-maxlength="20"/>
        </div>
        <div class="form-group">
            <label for="editor">Szöveg:</label>
            <small>(Lehet formázni is, ha kijelölsz szöveget.)</small><br/>
            <div id="editor" ng-model="text" 
                 required
                 ng-required="true"
                 ng-minlength="2" 
                 ng-maxlength="4000"
                 contenteditable="true"></div>
        </div>
    </div>

    <hr class="postseparator"/>

    <div class="buttons">
        <a href="#/posts" class="btn btn-primary pull-left">
            <i class="glyphicon glyphicon-step-backward"></i> Vissza
        </a>
        <button type="submit" class="btn btn-primary pull-right">
            Küldés <i class="glyphicon glyphicon-play"></i>
        </button>
    </div>

</form>